{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Categories {% endblock %}</h2>
    
    <form action="{{ url_for('create_category') }}" method="GET">
        <input type="submit" value="+ New Category"
                class="btn btn-success btn-sm">
    </form>

    <table class="table">
        <thead>
            <th>Icon</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category['icon'] }}</td>
                    <td>{{ category['name'] }}</td>
                    <td>{{ category['description'] }}</td>
                    <td>
                        <form action="{{ url_for('edit_category', id=category['_id']) }}" method="GET">
                            <input type="submit" value="Edit"
                                    class="btn btn-dark btn-sm">
                        </form>
                        <form action="{{ url_for('delete_category', id=category['_id']) }}" method="DELETE">
                            <input type="submit" value="Delete"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure you want to delete this category?')">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}