{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} New Transaction {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="content">Account</label>
        <select name="account" class="Input" required>
            {% for account in accounts %}
                <option value="{{ account['_id'] }}">{{ account['name'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="content">To Account</label>
        <select name="to_account" class="Input">
            <option value="None" SELECTED>None</option>
            {% for account in accounts %}
                <option value="{{ account['_id'] }}">{{ account['name'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Description" required
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="content">Amount</label>
        <input type="number" name="amount" placeholder="Amount" required
               class="form-control"
               value="{{ request.form['amount'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" name="date" required
               class="form-control"
               value="{{ request.form['date'] }}">
        </input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}