{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Transactions {% endblock %}</h2>
    
    <form action="{{ url_for('create_transaction') }}" method="GET">
        <input type="submit" value="+ New Transaction"
                class="btn btn-success btn-sm">
    </form>

    <table class="table">
        <thead>
            <th></th>
            <th>Account</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount ($)</th>
            <th></th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction['icon'] }}</td>
                    <td>{{ transaction['account'] }}</td>
                    <td>
                        <span class="badge badge-primary">{{ transaction['date'] }}</span>
                    </td>
                    <td>{{ transaction['description'] }}</td>
                    <td>{{ transaction['amount'] }}</td>
                    <td>
                        <div class="button-wrapper">
                            <form action="{{ url_for('edit_transaction', id=transaction['_id']) }}" method="GET">
                                <input type="submit" value="Edit"
                                        class="btn btn-primary btn-sm">
                            </form>
                            <form action="{{ url_for('delete_transaction', id=transaction['_id'], undo_transaction=True) }}" method="DELETE">
                                <input type="submit" value="Undo & delete"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure you want to undo and delete this transaction?')">
                            </form>
                            <form action="{{ url_for('delete_transaction', id=transaction['_id'], undo_transaction=False) }}" method="DELETE">
                                <input type="submit" value="Delete"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure you want to delete this transaction? Doing so without undoing will leave balances unchanged!')">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}